---
import Header from "@/components/Header.astro";
import Footer from '@/components/Footer.astro';
import "@/styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Manu",
  country: "Germany",
  occupation: "Designer",
  hobbies: ["D&D", "Gaming", "Jogging", "Game Dev"],
};
const skills = ["HTML", "CSS", "JavaScript", "Blender", "Astro", "UE5"];

const skillColor = "navy";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor}}>
            h1 {
                color : tomato;
            }
            .skill {
                color : var(--skillColor);
                font-weight: bold;
            }
        </style>
	</head>
	<body>
        <Header />
		<h1>{pageTitle}</h1>
        <h2>... and the stuff I build</h2>
        <p>I am working on this actually very nice tutorial.</p>
        <p>Hopefully this will update as I go :)</p>

        <p>some things about me are:</p>
        <ul>
            <li>I am called {identity.firstName} and I like living in {identity.country}, but I move around a lot.</li>
            {identity.hobbies.length >= 2 &&
                <li>But when I settle down for a little while, I like doing: {identity.hobbies[2]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>My Skills include:</p>
        <ul>{skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <Footer />
        <script>
			import "@/scripts/menu.js"
		</script>
	</body>
</html>
